.parallax {
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  height: 100%;
  width: 100%;
  animation: parallaxEffect 40s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Parallax scrolling animation */
@keyframes parallaxEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
